<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <form method="post" action="http://localhost:3000/sigin">
        <input type="text" name="firstName" placeholder="Enter your first Name" required>
        <input type="text" name="lastName" placeholder="Enter your last Name" required>
        <input type="date" name="Date" placeholder="Birth of Date" required>
        <select name="Branch" name="Course" required>
            <option value="B.teach">Select your course</option>
            <option value="B.teach">B.teach</option>
            <option value="Diploma">Diploma</option>
            <option value="BCA">BCA</option>
            <option value="B.com">B.com</option>
            <option value="M.teach">M.teach</option>
        </select>
        <input type="email" name="email" placeholder="Enter your email vaild " required>
        <label for="SDDD">Write you current year</label>
        <input id="SDDD" name="branchss" type="text" placeholder="Ex - IT/1 year" required>
        <input type="number" name="password" placeholder="Enter your password only number">
        <button type="submit">Submit</button>
    </form>
</body>

</html>